/* Resets */
html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #EEF4ED;
    max-height: 100vh;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #134074;
    position: relative;
}

img {
    max-width: 100%;
}
/* Navigation and links included in the nav  */
nav {
    background-color: #EEF4ED;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

nav h1 {
    background-color: #EEF4ED;
    color: #134074;
}

.links {
    display: flex;
    align-items: end;
}
/* Header */
header {
    display: flex;
    background-color: #134074;
    padding: 25px 0px 25px 0px;
    justify-content: center;
    color: #EEF4ED;

}
/* Aside content including the about me, work, and contact borders */
aside {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    /* background-color:#0B2545 ; */
    color: #134074;
}

aside h1 {
    display: flex;
    justify-content: space-between;
}

.aside-about {
    display: flex;
    border-right: 5px solid #0B2545;
    height: 200px;
    /* background-color:#134074; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.aside-work {
    display: flex;
    border-right: 5px solid #0B2545;
    height: 200px;
    /* background-color: #134074; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 75px;
}

.aside-contact {
    display: flex;
    border-right: 5px solid #0B2545;
    /* background-color: #134074; */
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    border-radius: 10px;

}
/* About me text  */
.me {
    display: flex;
    margin: 50px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    color: #134074;
    padding-right: 5px;
}
/* Project images */
.projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}
/* Footer and contact links */
footer {
    display: flex;
    padding: 2px;
    margin: 4px;
    text-decoration: none;
    color: #134074;

}

footer a {
    color: #134074;
}

footer h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 4px; */
}

.contact {
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

}
/* Hover links over project images */
a:hover::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 4px;
    width: 0%;
    height: 4px;
    transition: width 5s ease;
    border-radius: 10px;
    background-color: #134074;
}

a:hover::after {
    width: 100%;
}

.projects {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.img-1:hover {
    opacity: 0.5;
}

.img-2:hover {
    opacity: 0.5;
}

.img-3:hover {
    opacity: 0.5;
}

.img-4:hover {
    opacity: 0.5;
}
/* Media Queries */
@media (max-width: 1000px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .aside-contact {
        margin-top: 368px;
       
    }
}

@media (max-width: 700px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .aside-contact {
        margin-top: 620px;
    }
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .aside-contact {
        margin-top: 850px;
        
    }
}

/* Project Text  */
.container {
    position: relative;
  }
  
  .container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #EEF4ED;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .container:hover .text {
    opacity: 1;
  }
  
  .container .text h3 {
    margin: 0;
  }